* {
  margin: 0;
}

@font-face {
  font-family: "Euclid-Light";
  src: url("./assets/fonts/Euclid\ Circular\ B\ Light.ttf");
}
@font-face {
  font-family: "Euclid-Medium";
  src: url("./assets/fonts/Euclid\ Circular\ B\ Medium.ttf");
}
@font-face {
  font-family: "Euclid-Bold";
  src: url("./assets/fonts/Euclid\ Circular\ B\ Bold.ttf");
  font-weight: 400;
}
